/Kata2 v1/build/
/Kata2 v2/nbproject/private/
/Kata2 v2/build/
/Kata2 v3/nbproject/private/
/Kata2 v3/build/
/Kata2 v4/nbproject/private/
/Kata2 v4/build/
/Kata2 v5/nbproject/private/
/Kata2 v5/build/
